code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}

hr{

	border: 1px dashed #000000;
}

pre{
	background-color: #1d5f5a;
	color:lightblue;
}

code{
	line-height: 1.2em;
	color:lightblue;
	background-color: #1d5f5a;
}